.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.github/**
CONTRIBUTING.md
vscode_language_support_roadmap.md
test-registry-temp/**
test-scaffold-temp/**
test-workspace-temp/**
