.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
.prettierignore
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.github/**
CONTRIBUTING.md
test-registry-temp/**
test-scaffold-temp/**
test-workspace-temp/**
docs/**
.agents/**
AGENTS.md

